-
  root = "https://vpoupet.github.io/myriad/slides";
  theme = "myriad";
  language = "fr";
  context = "M2101 - Architecture et programmation bas niveau";
  author = "Victor Poupet";
  date = "";

doctype html
block preamble
html(lang=language)
  head
    block header
      meta(charset="UTF-8")
      if page_title
        title !{page_title}
      else
        title !{title.replace('<br>', ' ')}
      link(rel="stylesheet" href=`${root}/slides.css`)
      link(rel="stylesheet" href=`${root}/themes/${theme}/${theme}.css`)
      link(rel="stylesheet" href="highlight.css")
  body
    if title
      section.title
        h1 !{title}
        if subtitle
          h2 !{subtitle}
        .context !{context}
        .author !{author}
        time !{date}
    block document
    block footer
      script(src="highlight.pack.js")
      script(language="Javascript")
        | document.addEventListener('DOMContentLoaded', (event) => {
        |   hljs.configure({
        |     languages: [],  // disable automatic language detection
        |   });
        |   document.querySelectorAll('code').forEach((block) => {
        |     hljs.highlightBlock(block);
        |   });
        | });
      script(src=`${root}/slides.js`)
      script(src=`${root}/themes/${theme}/${theme}.js`)
