-
  let root = "https://vpoupet.github.io/myriad/";
  let language = "fr";
  let context = "M2101 - Architecture et programmation bas niveau";
  let author = "Victor Poupet";
  let date = "";

doctype html
block preamble
html(lang=language)
  head
    block header
      meta(charset="UTF-8")
      if page_title
        title !{page_title}
      else
        title !{context}
      link(rel="stylesheet" href=root+"css/slides.css")
      link(rel="stylesheet" href=root+"css/myriad.css")
      link(rel="stylesheet" href="highlight.css")
  body
    section.title
      h1 !{title}
      if {subtitle}
        h2 !{subtitle}
      .context !{context}
      .author !{author}
      time !{date}
    block document
    block footer
      script(src="highlight.pack.js")
      script(language="Javascript")
        | window.addEventListener('load', function() {
        |  hljs.configure({
        |   languages: [],  // disable automatic language detection
        |   });
        |   hljs.initHighlighting();
        | });
      script(src=root+"js/slides.js")
      script(src=root+"js/myriad.js")
